.header .header_center ul li img {
  transform: scale(0.9);
  transition: all 1s;
}

.header .header_center ul li img:hover {
  transform: rotateY(180deg) scale(1.3);
}

.main .btn.read_more {
  transition: all 1s;
}

.main .btn.read_more:hover {
  transform: rotateZ(10deg);
  transform-origin: left top;
}

.bottom_section .btn.play {
  transition: all 1s;
}

.bottom_section .btn.play:hover {
  color: #39c2d7;
  background-color: white;
  border-color: white;
  transform: scale(0.9);
}
